body {
  font-family: monospace;
}

h1 {
  outline-style: groove;
}

h3 {
  font-family: cursive;
  text-align: center;
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "beskrivelse"
    "ingredienser"
    "fremgangsmetode"
    "image"
    "footer";
  grid-template-rows: 10vh;
  text-align: center;
}

@media (min-width: 900px) {
  main {
    grid-template-areas:
      "header header"
      "beskrivelse image"
      "ingredienser image"
      "fremgangsmetode image"
      "footer footer";
    grid-template-rows: 50vh 50vh 50vh 50vh 50vh;
  }
}

ul {
  list-style-type: none;
  text-align: center;
}

img {
  width: 100%;
}

header {
  grid-area: header;
  background-color: aliceblue;
  color: brown;
  font-size: 2em;
}

#beskrivelse {
  background-color: cadetblue;
  grid-area: beskrivelse;
}

#ingredienser {
  background-color: chartreuse;
  grid-area: ingredienser;
}

#fremgangsmetode {
  background-color: darkgreen;
  grid-area: fremgangsmetode;
}

#image {
  grid-area: image;
  background-color: white;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  grid-area: footer;
}
