body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

header {
  text-align: center;
}

section {
  text-align: center;
}

h1 {
  font-size: 5em;
  font-weight: bolder;
  text-decoration: overline underline;
  text-underline-offset: 0.4em;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-position: inside;
  list-style-type: none;
}

.item1 {
  grid-area: myBeskrivelse;
}

.grid-container {
  display: grid;
  grid: 200px;
}

#beskrivelse {
  background-color: khaki;
}

#ingredienser {
  background-color: brown;
}

#fremgangsmetode {
  background-color: olive;
}
