body {
  font-family: monospace;
}

h1 {
  outline-style: groove;
}

h3 {
  font-family: cursive;
  text-align: center;
}

main {
  display: grid;
  grid-template-areas:
    "header header"
    "beskrivelse fremgangsmetode"
    "image ingredientser"
    "footer footer";
    grid-template-columns: 50vh 50vh;
    grid-template-rows: 20vh 35vh 35vh 10vh;
}

ul {
  list-style-type: none;
  text-align: left;
}

header {
  background-color: aliceblue;
  text-align: center;
  color: brown;
  font-size: 2em;
}

#beskrivelse {
  background-color: cadetblue;
  grid-area: beskrivelse;
}

#ingredienser {
  background-color: chartreuse;
  grid-area: ingredienser;
  height: fit-content;
}

#fremgangsmetode {
  background-color: darkgreen;
  grid-area: fremgangsmetode;
}

#image {
  grid-area: image;
  background-color: white;
  image-resolution: 10%;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
